# Log files
*.log

# Vim files
*.swp
*.vim

# Terraform
**/.terraform/*
**/.terraform.*
*.tfstate
*.tfstate.*
*.tfvars

# Downloaded Helm Charts
helm/demo/mysql/**/*

# Cloned repositories
prometheus/kube-prometheus/**/*

# Environment variables
**/.env
